
:root {
    --bg: #f5f5f5;
    --text: #111;
    --navbar-bg: #eb0000;
    --card-bg: #fff;
}


.darkmode {
    --bg: #1b1919;
    --text: #ddd;
    --navbar-bg: #333;
    --card-bg: #1c1f2b;
}


body {
    background-color: var(--bg);
    color: var(--text);
}

.navbar {
    background-color: var(--navbar-bg);
}

.box-one {
    background-color: var(--card-bg);
}

p, li, h1, h2, h3 {
    color: var(--text);
}





.navbar {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 12px 0;
    border-radius: 0 0 8px 8px;
    text-align: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-text {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar-text a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Unterstrich bei Hover */
.navbar-text::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.navbar-text:hover::after {
    width: 100%;
}




h1, h2, h3, h4, h5, h6 {
    color: white;
    text-align: center;
    text-shadow: #000 2px 2px 4px;
}

p,
li {
    color: var(--text);
}

li {
    padding-left: 40px;
}





img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

img:hover {
    transform: scale(1.05);
}



.box-one {
    width: 300px;
    margin: 20px auto;
    padding: 2em;
    background: var(--card-bg);
    text-align: center;
    border-radius: 10px;
    position: relative;
}

/* Animation property */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.box-one::after,
.box-one::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    z-index: -1;
    padding: 3px;
    background-image: conic-gradient(
        from var(--angle),
        #ff4545,
        #00ff99,
        #006aff,
        #ff0095,
        #ff4545
    );
    animation: spin 3s linear infinite;
}

.box-one::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}


@keyframes spin {
    from { --angle: 0deg; }
    to   { --angle: 360deg; }
}





button {
    border: none;
    padding: 0.8em 2em;
    background-color: #006aff;
    color: white;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}





#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-switch svg {
    fill: white;
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}





.footer-text {
    text-align: center;
    color: #888;
    margin-top: 50px;
}
.socials-container{
  display: flex;
  gap: 50px;
    justify-content: center;
}
.socials-container a{
  background-color: white;
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
  height: 32px;
}
.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover{
  background-color: var(--accent-color);
  fill: white;
}
.socials-container a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}